Source: iplock
Section: net
Priority: optional
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    communicatord-dev (>= 2.0.0.0~bionic),
    cppprocess-dev (>= 1.1.52.0~bionic),
    cppthread-dev (>= 1.1.13.0~bionic),
    debhelper,
    dh-sysuser,
    doxygen,
    eventdispatcher-dev (>= 1.1.51.0~bionic),
    fluid-settings-dev (>= 1.0.0.0~bionic),
    graphviz,
    libaddr-dev (>= 1.0.8.215~bionic),
    libadvgetopt-dev (>= 2.0.4.0~bionic),
    libas2js-dev (>= 0.1.37.0~bionic),
    libboost-dev,
    libboost-filesystem-dev,
    libboost-system-dev,
    libexcept-dev (>= 1.0.2.250~bionic),
    libutf8-dev (>= 1.0.13.0~bionic),
    serverplugins-dev (>= 2.0.0.0~bionic),
    snapcatch2 (>= 2.9.1.0~bionic),
    snapcmakemodules (>= 1.0.35.3~bionic),
    snapdev (>= 1.0.0.0~bionic),
    snaplogger-dev (>= 1.0.0.0~bionic)
Standards-Version: 3.9.4
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/iplock

Package: iplock
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: iplock-doc
Description: Advanced management of your iptables firewall.
 The iplock environment is a set of tools and a service used to manage your
 firewall in your cluster. Whenever an IP address gets blocked, it immediately
 gets shared across all your systems allowing each front end computer to block
 this IP address instantly.
 .
 The iplock executable is a very simple tool used to add or remove IP
 addresses to your iptables firewall to protect your services such as
 Apache and Postfix.
 .
 The ipload executable loads your firewall on each reboot. The system is
 automatically setup so this runs before the network is started by the
 Linux system.
 .
 The ipwall is a service which automatically starts and allows communication
 between all your computers so the block of an IP address is instantly
 replicated on all your systems. This is extremely effective to avoid cluster
 attacks. (you must install the ipwall package for this functionality.)
 .
 The tools read configuration files under /etc/iplock/... where iptables
 commands and ports are defined. It is used by the tools to generate
 iptables commands to run in order to block or unblock a set of IP addresses.

Package: iplock-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: iplock (= ${binary:Version})
Description: Add or remove IP addresses from your iptables firewall.
 The documentation of the iplock environment.

Package: iplock-dev
Section: libdevel
Architecture: all
Depends: iplock (= ${binary:Version}), ${misc:Depends}
Suggests: iplock-doc
Description: Add or remove IP addresses from your iptables firewall.
 The library used to send BLOCK and UNBLOCK commands to the ipwall service.
 The library also has a class one can use to know whether the firewall is
 up and running, which is important if you open a public port private to
 your systems (i.e. open a database access on 0.0.0.0:123).

Package: ipwall
Section: utils
Architecture: any
Depends: iplock, ${shlibs:Depends}, ${misc:Depends}
Suggests: iplock-doc
Description: Advanced management of your iptables firewall.
 The service running ipwall to add IP addresses to your firewall in order to
 block access from those IPs. The service makes use of the iplock command
 line tool in order to add and remove IP addresses to the firewall.

