# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=IP Load -- load the firewall after boot
Documentation=https://snapwebsites.org/project/iplock file:/usr/share/doc/iplock-doc/html/ man:ipload(8)
Wants=network-pre.target systemd-modules-load.service local-fs.target
Before=network-pre.target
After=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
WorkingDirectory=~
ProtectHome=true
RemainAfterExit=yes
ExecStart=/usr/sbin/ipload --load
Restart=no

[Install]
WantedBy=multi-user.target

# vim: syntax=dosini
