#!/bin/sh -e
#
# End Users (administrators) Parameters for iplock
# The values are saved by Debconf under /var/cache/debconf/config.dat
# (search for iplock)
# You can reconfigure (change) these parameters using:
#    sudo dpkg-reconfigure iplock
# It is also possible to create an override in your /etc/iplock/ipload/...
# sub-directory.

#DEBHELPERS#

# Source various libraries
. /usr/share/debconf/confmodule

if test -n "$DEBIAN_SCRIPT_DEBUG"
then
    set -v -x
    DEBIAN_SCRIPT_TRACE=1
fi
${DEBIAN_SCRIPT_TRACE:+ echo "#42#DEBUG# RUNNING $0 $*" 1>&2 }

# Initialize the database environment
#
db_version 2.0
db_capb
db_title iplock/title

if test "$1" = "configure"
then

    # Set "default" value of "public_interfaces" if value not seen yet
    #
    db_fget iplock/public_interfaces seen
    if test "${RET}" = "false"
    then
        db_set iplock/public_interfaces `ifaces --name-only --public`
    fi

    # Ask for various parameters
    #
    for v in public_interfaces admin_ips admin_interfaces
    do
        while true
        do
            db_input high iplock/$v || true
            db_go

            errmsg=""
            if test "$v" = "public_interfaces"
            then
                if test -z "$RET"
                then
                    errmsg="empty"
                fi
            fi
            if test -z "$errmsg"
            then
                break
            fi

            # display error
            #
            db_fset iplock/$errmsg seen false
            db_input critical iplock/$errmsg

            db_go
        done
    done

fi

# vim: ts=4 sw=4 et
